In [1]:
import pandas as pd
import numpy as np

In [2]:
# I import the file with data

flights = pd.read_csv("BOS_CUN_trips1M.csv",)

flights.head()

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
0,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,12,1382317607,USD,631.45,123.45,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
1,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,11,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
2,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,10,1382317607,USD,620.95,124.95,0.0,Sabre,TCY,B6,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
3,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,9,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
4,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,8,1382317607,USD,565.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1

In [4]:
# I want to look at refundable flights first.

refundableflights = flights[flights['refundable'] == True]
refundableflights.head()

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
861,2c89c1ab745aec26000001410e399ab3aa9fe4728648ad8b,45,1378923158,USD,1251.57,116.57,0.0,Sabre,TCY,AM,...,True,1378923158,20130911,2013-09-11,2014-07-10,2014-07-18,8,4,5,1
947,3dc7cac49ef4382f000001410d1a5a260697a02b899615e0,37,1378904332,USD,930.57,116.57,0.0,Sabre,TCY,AM,...,True,1378904332,20130911,2013-09-11,2013-09-22,2013-09-29,7,0,0,1
1020,42e64275e7bb0edd000001410d102090ecb3e2ded758ba6f,17,1378903662,USD,930.57,116.57,0.0,Sabre,TCY,AM,...,True,1378903662,20130911,2013-09-11,2013-10-11,2013-10-19,8,5,6,1
1448,b54624dc6c91bc1e00000141e5685bb04257f803208eafb6,35,1382533323,USD,1495.15,112.15,0.0,Sabre,TCY,AM,...,True,1382533323,20131023,2013-10-23,2014-04-19,2014-04-26,7,6,6,1
1450,b54624dc6c91bc1e00000141e5685bb04257f803208eafb6,33,1382533323,USD,980.15,126.15,0.0,Sabre,TCY,AM,...,True,1382533323,20131023,2013-10-23,2014-04-19,2014-04-26,7,6,6,1

In [5]:
# I now run quick statistics on the

refundableflights['total'].describe()

count    7924.000000
mean     1145.334387
std       408.931065
min       466.170000
25%       826.950000
50%      1089.150000
75%      1436.570000
max      3794.570000
Name: total, dtype: float64

In [6]:
# Now I want to look at the non-refundable flights.

nrefundableflights = flights[flights['refundable'] == False]
nrefundableflights.head()

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
0,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,12,1382317607,USD,631.45,123.45,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
1,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,11,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
2,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,10,1382317607,USD,620.95,124.95,0.0,Sabre,TCY,B6,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
3,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,9,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
4,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,8,1382317607,USD,565.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1

In [8]:
nrefundableflights['total'].describe()

count    1.194521e+06
mean     6.711629e+02
std      2.749562e+02
min      3.203700e+02
25%      4.713700e+02
50%      5.893700e+02
75%      7.894500e+02
max      6.523740e+03
Name: total, dtype: float64

In [ ]:
# Here we can see that the refundable flights are more expensive (which is what is to be expected).