In [1]:
import pandas as pd
import numpy as np
import time
import datetime

In [2]:
# I import the file with data

flights = pd.read_csv("BOS_CUN_trips1M.csv",)

flights.head()

,messageid,tripindex,received,currency,total,tax,surcharge,source,merchant,majorcarrierid,...,refundable,triptimestamp,receiveddate,received_odate,departure_odate,return_ddate,los2,departure_dow,return_dow,includes_sns
0,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,12,1382317607,USD,631.45,123.45,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
1,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,11,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
2,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,10,1382317607,USD,620.95,124.95,0.0,Sabre,TCY,B6,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
3,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,9,1382317607,USD,632.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1
4,f4f57b70aaf2f56600000141d88ccbb0294a88500186aea5,8,1382317607,USD,565.95,124.95,0.0,Sabre,TCY,US,...,False,1382317607,20131021,2013-10-20,2014-03-14,2014-03-22,8,5,6,1

In [10]:
# The departure and return columns are in epoch-seconds.
# I now want to look at which epoch seconds combinations for departure and return dates are cheapest.
# I am taking the average for each departure and return time/date combination

cheapest = flights.groupby(['departure', 'return']).mean()

# I only need the 'total' column with the total price.
cheapest = cheapest['total']

cheapestdf = pd.DataFrame(cheapest)

cheapestdf.describe()

               total
count  242288.000000
mean      636.755943
std       283.258493
min       327.570000
25%       452.450000
50%       553.950000
75%       715.788750
max      6523.740000

In [13]:
# I now want to look at the comvinations in the first quartile.

lowestquartile = cheapestdf[cheapestdf['total'] <= 452]

lowestquartile

# 60264 rows Ã— 1 columns so I still get too many combinations.

                            total
departure  return
1378375200 1378572900  445.570000
           1378834800  445.570000
           1378921200  445.570000
           1379004900  445.570000
           1379102700  445.570000
           1379359200  445.570000
           1379436900  445.570000
           1379526000  445.570000
           1379609700  445.570000
1378378140 1379160000  450.070000
           1379678400  450.070000
1378458000 1379091300  446.870000
           1379100000  446.870000
           1379102700  446.870000
           1379254800  448.570000
1378461600 1379091300  445.370000
           1379094000  451.941429
           1379102700  445.370000
1378461960 1379073600  449.870000
           1379092500  449.870000
1378464540 1379073600  449.870000
           1379160000  450.070000
1378468920 1378754400  445.570000
           1379004900  445.570000
           1379091300  445.370000
           1379102700  445.370000
           1379436900  445.570000
1378479600 1379093400  445.370000
           1379694900  449.370000
1378484100 1379093400  446.512857
...                           ...
1411291800 1411667400  397.450000
           1411674300  397.450000
1411293600 1411645500  398.950000
           1411646100  398.950000
           1411653600  398.950000
           1411661700  398.950000
           1411664700  398.950000
           1411665300  398.950000
           1411667100  398.950000
1411294500 1411667400  395.950000
           1411674300  395.950000
1411295400 1411412400  397.450000
           1411502520  397.450000
           1411578900  397.450000
           1411675320  397.450000
           1411761720  397.450000
           1411819200  397.450000
1411325700 1411653600  398.950000
1411389000 1411502520  395.950000
           1411578900  395.950000
           1411675320  395.950000
           1411761720  395.950000
           1411819200  395.950000
1411470000 1411578900  395.950000
           1411675320  395.950000
           1411761720  395.950000
           1411819200  395.950000
1417523400 1418154900  398.950000
1417540500 1418133600  398.950000
1417545000 1418133600  398.950000

[60264 rows x 1 columns]

In [16]:
lowestquartile = cheapestdf[cheapestdf['total'] <= 380]

lowestquartile

# Converting from epoch to normal time ???

                            total
departure  return
1380293400 1380386100  367.900000
1380361500 1380715200  368.990000
           1380830520  342.870000
           1383134400  342.870000
1380362400 1380718800  372.370000
           1383134400  342.870000
1380362580 1380456000  357.470000
           1383134400  342.870000
1380389400 1380472500  371.900000
1380408240 1380718800  373.670000
1380447600 1381233300  344.570000
           1381492500  344.570000
1380450780 1380974400  341.570000
1380462000 1381323600  344.570000
1380533400 1380906900  349.506364
           1380912000  356.536667
           1380913200  342.870000
1380535440 1380906900  364.647778
           1380912000  374.770000
           1380913200  377.155714
1380537000 1380906900  355.661667
           1380911640  375.670000
           1380912000  352.670000
           1380913200  350.727143
1380537120 1380906900  374.995000
           1380911640  372.370000
           1380912000  356.536667
           1380913200  342.870000
1380537960 1380911640  370.279091
1380541020 1380715200  354.070000
...                           ...
1406891700 1407185400  379.370000
           1407326100  379.370000
           1407439200  379.370000
           1407872400  379.370000
           1407938400  379.370000
           1408032900  379.370000
           1408131600  379.370000
           1408303200  379.370000
           1408456800  379.370000
1407150000 1408536000  376.370000
1407253800 1407872400  379.370000
           1408131600  379.370000
           1408303200  379.370000
           1408456800  379.370000
1407407400 1408046520  377.870000
1407501000 1408046520  376.370000
1407839400 1409140800  377.870000
1407844800 1408131600  379.370000
           1408303200  379.370000
1407956100 1408131600  379.370000
           1408303200  379.370000
1408095000 1408303200  379.370000
           1408456800  379.370000
1408100400 1408536000  376.370000
           1409140800  376.370000
1408269600 1408456800  379.370000
1408377900 1408456800  379.370000
1408661400 1409140800  376.370000
1408747800 1409140800  376.370000
1409049000 1409140800  377.870000

[4268 rows x 1 columns]